{{> private-navbar}}

   <div class="container drop-top">
      <div class="card my-3 shadow p-3 mb-5 bg-body rounded card-bottom">
        <div class="card-body fs-2 text-center ">
         {{firstName}}, we can't wait to read your post!
        </div>
      </div>
      <form class="card shadow p-3 mb-5 bg-body rounded" id="create-post-form">
        <div class="mb-3">
          <input
            type="input"
            class="form-control"
            id="post-title"
            placeholder="Choose a witty title..."
          />
        </div>

        <div class="mb-3">
          <textarea
            class="form-control"
            id="post-body"
            rows="12"
            placeholder="Get creative with your content....!"
          ></textarea>
        </div>

        <div class="d-grid gap-2">
          <button class="btn btn-primary add-post-btn" type="submit">
            Submit
          </button>
        </div>
      </form>
    </div>