{{> private-navbar}}

   <div class="container drop-top">
      <div class="card my-3 shadow p-3 mb-5 bg-body rounded card-bottom">
        <div class="card-body fs-2 text-center ">
         {{firstName}}, something you want to change?
        </div>
      </div>
      <form class="card shadow p-3 mb-5 bg-body rounded" id="{{post.id}}" name="edit-post-form">
        <div class="mb-3">
          <input
            type="input"
            class="form-control"
            id="post-title"
            value="{{post.title}}"
          />
          
        </div>

        <div class="mb-3">
          <textarea
            class="form-control"
            id="post-body"
            rows="12"
          >{{post.body}}</textarea>
        </div>

        <div class="d-grid gap-2">
          <button class="btn btn-primary edit-post-btn" type="submit">
            Submit
          </button>
        </div>
      </form>
    </div>