#login-btn,
#sign-up-btn,
.see-more-btn {
  background-color: #ff9d8e;
  border: #ff9d8e;
}

#login-btn:hover,
#sign-up-btn:hover,
.see-more-btn:hover {
  background-color: #e9998d;
}

#logout-btn {
  background-color: #3b1c32;
  color: white;
}

#nav-link:hover {
  color: #3b1c32;
  font-weight: bolder;
}

#sign-up-link {
  text-decoration: none;
  color: #e9998d;
}
#sign-up-link:hover {
  text-decoration: underline;
  font-weight: bolder;
}

.card-top {
  background-color: #b0d4ce;
}

.card-bottom {
  background-color: #e4f1ef;
}
